<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2" boarder="1">
    <h1 th:inline="text">Something went wrong!</h1>
    <h4>Sorry, we couldn't find the page you were looking for</h4>
    <div> </div>
    <a th:href="@{/}" class="btn btn-primary btn-sm mb-3" th:text="#{home.page}"></a>
</div>
</body>
</html>