<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:fragment="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" th:href="@{/}"><i class="fa fa-home"></i></a>
            </div>
            <ul class="nav navbar-nav">
                <li><a th:href="@{/login}"><i class="fa fa-sign-in"
                                              aria-hidden="true"></i></a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><i class="fa fa-sign-out"
                                                                                 aria-hidden="true"></i></a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/account}"><span
                        class="glyphicon glyphicon-user"></span></a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{/main}"><i class="fa fa-users" aria-hidden="true"></i></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="flag-icon flag-icon-ua" href="/tariffs?lang=ua"></a></li>
                <li>&nbsp;&nbsp;</li>
                <li><a class="flag-icon flag-icon-us" href="/tariffs?lang=en"></a></li>
                <li>&nbsp;&nbsp;</li>
            </ul>
        </div>
    </nav>
</div>