<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Sign In</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<!-- navigation bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}">Registration and
                Login Module</a>
        </div>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <!-- error -->
            <div th:if="${param.error}">
                <div class="alert alert-dander">Invalid username and password.</div>
            </div>
            <!-- logout -->
            <div th:if="${param.logout}">
                <div class="alert alert-info"> You have been logged out.</div>
            </div>
            <h1>Sign In</h1>
            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="email" id="email" name="email"
                           placeholder="Enter Email"
                           required autofocus="autofocus"/>
                </div>
                <div class="form-group">
                    <label for="password"> Password </label>
                    <input class="form-control" type="password" id="password" name="password"
                           placeholder="Enter Password"
                           required autofocus="autofocus">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="login-submit" id="login-submit"
                                   class="form-control btn btn-primary" value="Sign In"/>
                        </div>
                    </div>
                </div>
            </form>
            <div class="form-group">
                <span><a href="/" th:href="@{/registration}">Register here</a> </span>
            </div>
        </div>
    </div>
</div>
</body>
</html>