<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="#{users.list}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css"
          integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw=="
          crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/}"><i class="fa fa-home"></i></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/login}"><i class="fa fa-sign-in"
                                          aria-hidden="true"></i></a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><i class="fa fa-sign-out"
                                                                             aria-hidden="true"></i></a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/account}"><span
                    class="glyphicon glyphicon-user"></span></a></li>
            <li sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{/main}"><i class="fa fa-users" aria-hidden="true"></i></a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="flag-icon flag-icon-ua" href="/main?lang=ua"></a></li>
            <li>&nbsp;&nbsp;</li>
            <li><a class="flag-icon flag-icon-us" href="/main?lang=en"></a></li>
        </ul>
    </div>
</nav>
<div class="container my-2">
    <h1 th:text="#{users.list}"></h1>
    <a th:href="@{/showNewUserForm}" class="btn btn-primary btn-sm mb-3" th:text="#{user.add}"></a>

    <table boarder="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th th:text="#{user.firstname}"></th>
            <th th:text="#{user.lastname}"></th>
            <th th:text="#{user.email}"></th>
            <th th:text="#{user.actions}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${listUsers}">
            <td th:text="${user.firstname}"></td>
            <td th:text="${user.lastname}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a th:href="@{/deleteUser/{id}(id=${user.id})}" class="btn btn-danger" th:text="#{user.delete}"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-2" th:text="#{page.rows}">
                : [[${totalItems}]]
            </div>
            <div class="col-sm-1">
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                    </span>
            </div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}}" th:text="#{page.next}"></a>
                <span th:unless="${currentPage < totalPages}" th:text="#{page.next}"></span>
            </div>

            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}}" th:text="#{page.last}"></a>
                <span th:unless="${currentPage < totalPages}" th:text="#{page.last}"></span>
            </div>
        </div>
    </div>
</div>
</body>
</html>