<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="#{tariff.management}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css"
          integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw=="
          crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/}"><i class="fa fa-home"></i></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/login}"><i class="fa fa-sign-in"
                                          aria-hidden="true"></i></a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><i class="fa fa-sign-out"
                                                                             aria-hidden="true"></i></a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/account}"><span
                    class="glyphicon glyphicon-user"></span></a></li>
            <li sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{/main}"><i class="fa fa-users" aria-hidden="true"></i></a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="flag-icon flag-icon-ua" href="/showNewTariff?lang=ua"></a></li>
            <li>&nbsp;&nbsp;</li>
            <li><a class="flag-icon flag-icon-us" href="/showNewTariff?lang=en"></a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1 th:text="#{tariff.management}"></h1>
    <hr>
    <h2 th:text="#{tariff.save}"></h2>
    <form action="#" th:action="@{/saveTariff}" th:object="${tariff}" method="post">
        <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
           th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
            error</p>
        <div class="form-group"
             th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
            <label for="name" class="control-label" th:text="#{tariff.name}"></label>
            <input id="name" class="form-control" th:field="*{name}"/>
            <p class="error-message"
               th:each="error: ${#fields.errors('name')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group"
             th:classappend="${#fields.hasErrors('description')}? 'has-error':''">
            <label for="description" class="control-label" th:text="#{tariff.description}"></label>
            <input id="description" class="form-control" th:field="*{description}"/>
            <p class="error-message"
               th:each="error: ${#fields.errors('description')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group"
             th:classappend="${#fields.hasErrors('price')}? 'has-error':''">
            <label for="price" class="control-label" th:text="#{tariff.price}"></label>
            <input id="price" class="form-control" th:field="*{price}"/>
            <p class="error-message"
               th:each="error : ${#fields.errors('price')}" th:text="${error}">Validation
                error</p>
        </div>
        <div class="form-group"
             th:classappend="${#fields.hasErrors('type')}? 'has-error':''">
            <label for="type" class="control-label" th:text="#{service.type}"></label>
            <input id="type" class="form-control" th:field="*{type}"/>
            <p class="error-message"
               th:each="error : ${#fields.errors('type')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info col-4" th:text="#{tariff.save}"></button>
        </div>
    </form>
</div>
</body>
</html>