<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{user.management.system}"></title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 th:text="#{user.management.system}"></h1>
    <hr>
    <h2 th:text="#{user.save}"></h2>

    <form action="#" th:action="@{/saveUser}" th:object="${user}" method="post">
        <input type="text" th:fiels="*{name}"
               placeholder="User Name" class="form-control mb-4 col-4">
        <input type="text" th:fiels="*{email}"
               placeholder="User Email" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-4" th:text="#{user.save}"></button>
    </form>
    <hr>
    <a th:href="@{/main}" th:text="#{users.list.back}"></a>
    <hr>
    <span th:text="#{lang.change}"></span>
    <a href="/showNewUserForm?lang=ua">UA</a>
    <a href="/showNewUserForm?lang=en">ENG</a>
</div>
</body>
</html>