<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="#{tariff.list}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css"
          integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw=="
          crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="/header :: header"></div>
<div class="p-5 text-center bg-image"
     th:style="'background: url(/images/header.jpg); height: 400px;'">
</div>
<div class="container my-2">
    <h1 th:text="#{tariff.list}"></h1>
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <a th:href="@{/showNewTariff}" class="btn btn-info col-4" th:text="#{tariff.add}"></a>
    </div>
    <br>
    <div>
    <a th:href="@{/tariffs/export/pdf}" class="btn btn-info col-4" th:text="#{tariff.export}"></a>
    </div>
    <br>
    <div th:if="${param.success}">
        <div class="alert alert-success" th:text="#{subscribe.success}"></div>
    </div>
    <div th:if="${param.error}">
        <div class="alert alert-danger" th:text="#{subscribe.insufficient}"></div>
    </div>
    <div th:if="${param.error_blocked}">
        <div class="alert alert-danger" th:text="#{subscribe.error.blocked}"></div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col">
                <ul class="nav nav-tabs mt-5" id="myTabs">
                    <li class="nav-item"><a href="#tab1" data-url="/tab1" class="nav-link active"
                                            th:text="#{service.mobile}"></a></li>
                    <li class="nav-item"><a href="#tab2" data-url="/tab2" class="nav-link" th:text="#{service.tv}"></a>
                    </li>
                    <li class="nav-item"><a href="#tab3" data-url="/tab3" class="nav-link"
                                            th:text="#{service.internet}"></a></li>
                </ul>

                <div class="tab-content pt-3">
                    <div class="tab-pane active" id="tab1"></div>
                    <div class="tab-pane" id="tab2"></div>
                    <div class="tab-pane" id="tab3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script>
    $('#myTabs a').click(function (e) {
        e.preventDefault();

        let url = $(this).attr("data-url");
        let href = this.hash;
        let pane = $(this);

        // ajax load from data-url
        $(href).load(url, function (result) {
            pane.tab('show');
        });
    });

    // load first tab content
    $('#tab1').load($('.nav-link.active').attr("data-url"), function (result) {
    });
</script>
</body>
</html>