<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Tariff Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css"
          integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw=="
          crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="/header :: header"> </div>
<div class="container">
    <h1>Tariff Management</h1>
    <hr>
    <h2>Edit Tariff</h2>
    <form action="#" th:action="@{/saveTariff}" th:object="${tariff}" method="post">
        <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
           th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
            error</p>
        <div class="form-group"
             th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
            <label for="name" class="control-label"> Name</label>
            <input id="name" class="form-control" th:field="*{name}"/>
            <p class="error-message"
               th:each="error: ${#fields.errors('name')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group"
             th:classappend="${#fields.hasErrors('description')}? 'has-error':''">
            <label for="description" class="control-label">Description</label>
            <input id="description" class="form-control" th:field="*{description}"/>
            <p class="error-message"
               th:each="error: ${#fields.errors('description')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group"
             th:classappend="${#fields.hasErrors('price')}? 'has-error':''">
            <label for="price" class="control-label"> Price </label>
            <input id="price" class="form-control" th:field="*{price}"/>
            <p class="error-message"
               th:each="error : ${#fields.errors('price')}" th:text="${error}">Validation
                error</p>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info col-4">Save Tariff</button>
        </div>
    </form>
</div>
</body>
</html>